<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="first-item">
                    <div class="logo">
                        <img src="../../static/assets/images/logo.png">

                    </div>
                    <ul>
                        <li><a href="https://www.google.com/maps/@31.4946552,74.3805027,14z?authuser=0&entry=ttu&g_ep=EgoyMDI0MTIwOS4wIKXMDSoASAFQAw%3D%3D">Cavalry Ground Lahore pakistan</a></li>
                        <li><a href="https://mail.google.com/mail/u/0/#inbox?compose=new">IQcollectionsstore.com</a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <h5 class="card-title">{{requested_category}} Category</h5>
                        <ul class="list-unstyled">
                            {% for cat in categories %}
                            <li><a href="{% url 'filter_products' requested_category cat.name %}"
                                    class="card-text text-decoration-none d-block">{{cat.name}}</a></li>
                            {% endfor %}
                        </ul>
            </div>
            <div class="col-lg-3">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="{% url 'home' %}">Homepage</a></li>
                    <li><a href="{% url 'about' %}">About Us</a></li>
                    <li><a href="{% url 'contact' %}">Help</a></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Help &amp; Information</h4>
                <ul>
                    <li><a href="{% url 'contact' %}">Help</a></li>
                    <li><a href="#">FAQ's</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Tracking ID</a></li>
                </ul>
            </div>
            <div class="col-lg-12">
                <div class="under-footer">
                    <p>Copyright © 2022 HexaShop Co., Ltd. All Rights Reserved.

                        
                    </p>
                    <ul>
                        <li><a href="https://web.facebook.com/marketplace/item/1693007384815853/?mibextid=6ojiHh&_rdc=1&_rdr#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/iq_collections.store/profilecard/?igsh=MTYxamxhbmtuZnBkNw%3D%3D"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://wa.me/+923404347000"><i class="fa fa-whatsapp"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>