{% load static %}

<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-10">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        <img src="{% static 'assets/images/logo.png' %}">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="/">Home</a></li>
                        {% for cat in main_category %}
                        <li class="submenu">
                            <a href="{% url 'products' cat.name  %}">{{cat.name}}</a>
                            <ul>
                                {% for sub in cat.sub_category.all %}
                                <li><a href="{% url 'filter_products' cat.name sub.name %}">{{sub.name}}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                        <!-- HTML !-->
                        {% if user.is_authenticated %}
                        <li class="scroll-to-section"><a href="{% url 'user_cart' %}" class="btn btn-primary">Cart</a></li>
                        <li class="scroll-to-section"><a href="{% url 'logout' %}" class="btn btn-dark">Logout</a></li>
                        
                        {% else %}
                        <li class="scroll-to-section"><a href="{% url 'auth' 'login' %}" class="btn btn-primary">Login </a></li>
                        <li class="scroll-to-section"><a href="{% url 'auth' 'signup' %}" class="btn btn-dark">Sign up</a></li>
                        {% endif %}

                        <!-- <li class="scroll-to-section"><a href="#explore">Explore</a></li> -->
                    </ul>


                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>